src/main/resources/sfUser.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
Salesforce.com Outbound Notification Web Services API Version 1.0 
Generated on 2014-08-14 08:47:38 +0000.

Copyright 2005-2014 Salesforce.com, Inc.
All Rights Reserved
-->
<definitions targetNamespace="http://soap.sforce.com/2005/09/outbound"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://soap.sforce.com/2005/09/outbound"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:ent="urn:enterprise.soap.sforce.com"
             xmlns:ens="urn:sobject.enterprise.soap.sforce.com">
    <types>

        <schema elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:enterprise.soap.sforce.com">
            <!-- Our simple ID Type -->
            <simpleType name="ID">
                <restriction base="xsd:string">
                    <length value="18"/>
                    <pattern value='[a-zA-Z0-9]{18}'/>
                </restriction>
            </simpleType>
        </schema>

        <schema elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:sobject.enterprise.soap.sforce.com">
            <import namespace="urn:enterprise.soap.sforce.com" />
            <!-- Base sObject (abstract) -->
            <complexType name="sObject">
                <sequence>
                    <element name="fieldsToNull"       type="xsd:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
                    <element name="Id"                 type="ent:ID" nillable="true" />
                </sequence>
            </complexType>

            <complexType name="AggregateResult">
                <complexContent>
                    <extension base="ens:sObject">
                        <sequence>
                            <any namespace="##targetNamespace" minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
                        </sequence>
                    </extension>
                </complexContent>
            </complexType>

            <complexType name="User">
                <complexContent>
                    <extension base="ens:sObject">
                        <sequence>
                        <element name="AboutMe" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="AccountId" nillable="true" minOccurs="0" type="ent:ID"/>
                        <element name="Alias" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="CallCenterId" nillable="true" minOccurs="0" type="ent:ID"/>
                        <element name="City" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="CommunityNickname" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="CompanyName" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="ContactId" nillable="true" minOccurs="0" type="ent:ID"/>
                        <element name="Country" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="CreatedById" nillable="true" minOccurs="0" type="ent:ID"/>
                        <element name="CreatedDate" nillable="true" minOccurs="0" type="xsd:dateTime"/>
                        <element name="DefaultGroupNotificationFrequency" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="DelegatedApproverId" nillable="true" minOccurs="0" type="ent:ID"/>
                        <element name="Department" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="DigestFrequency" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Division" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Email" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="EmailEncodingKey" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="EmailPreferencesAutoBcc" nillable="true" minOccurs="0" type="xsd:boolean"/>
                        <element name="EmailPreferencesAutoBccStayInTouch" nillable="true" minOccurs="0" type="xsd:boolean"/>
                        <element name="EmailPreferencesStayInTouchReminder" nillable="true" minOccurs="0" type="xsd:boolean"/>
                        <element name="EmployeeNumber" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Extension" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Fax" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="FederationIdentifier" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="FirstName" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="ForecastEnabled" nillable="true" minOccurs="0" type="xsd:boolean"/>
                        <element name="FullPhotoUrl" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="IsActive" nillable="true" minOccurs="0" type="xsd:boolean"/>
                        <element name="IsBadged" nillable="true" minOccurs="0" type="xsd:boolean"/>
                        <element name="JigsawImportLimitOverride" nillable="true" minOccurs="0" type="xsd:int"/>
                        <element name="LanguageLocaleKey" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="LastLoginDate" nillable="true" minOccurs="0" type="xsd:dateTime"/>
                        <element name="LastModifiedById" nillable="true" minOccurs="0" type="ent:ID"/>
                        <element name="LastModifiedDate" nillable="true" minOccurs="0" type="xsd:dateTime"/>
                        <element name="LastName" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="LastPasswordChangeDate" nillable="true" minOccurs="0" type="xsd:dateTime"/>
                        <element name="LastReferencedDate" nillable="true" minOccurs="0" type="xsd:dateTime"/>
                        <element name="LastViewedDate" nillable="true" minOccurs="0" type="xsd:dateTime"/>
                        <element name="Latitude" nillable="true" minOccurs="0" type="xsd:double"/>
                        <element name="LocaleSidKey" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Longitude" nillable="true" minOccurs="0" type="xsd:double"/>
                        <element name="ManagerId" nillable="true" minOccurs="0" type="ent:ID"/>
                        <element name="MobilePhone" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="OfflinePdaTrialExpirationDate" nillable="true" minOccurs="0" type="xsd:dateTime"/>
                        <element name="OfflineTrialExpirationDate" nillable="true" minOccurs="0" type="xsd:dateTime"/>
                        <element name="Phone" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="PostalCode" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="ProfileId" nillable="true" minOccurs="0" type="ent:ID"/>
                        <element name="ReceivesAdminInfoEmails" nillable="true" minOccurs="0" type="xsd:boolean"/>
                        <element name="ReceivesInfoEmails" nillable="true" minOccurs="0" type="xsd:boolean"/>
                        <element name="SenderEmail" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="SenderName" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Signature" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="SmallPhotoUrl" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="State" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="StayInTouchNote" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="StayInTouchSignature" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="StayInTouchSubject" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Street" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="SystemModstamp" nillable="true" minOccurs="0" type="xsd:dateTime"/>
                        <element name="TimeZoneSidKey" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Title" nillable="true" minOccurs="0" type="xsd:string"/>
                        </sequence>
                    </extension>
                </complexContent>
            </complexType>


        </schema>

        <schema elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://soap.sforce.com/2005/09/outbound">
            <import namespace="urn:enterprise.soap.sforce.com" />
            <import namespace="urn:sobject.enterprise.soap.sforce.com" />
    
            <element name="notifications">
                <complexType> 
                    <sequence> 
                    	<element name="OrganizationId" type="ent:ID" />
                    	<element name="ActionId" type="ent:ID" />
                    	<element name="SessionId" type="xsd:string" nillable="true" />
                    	<element name="EnterpriseUrl" type="xsd:string" />
                    	<element name="PartnerUrl" type="xsd:string" />
                        <element name="Notification" maxOccurs="100" type="tns:UserNotification" />
                    </sequence> 
                </complexType> 
            </element>
    
            <complexType name="UserNotification">
                <sequence>
                    <element name="Id" type="ent:ID" />
                    <element name="sObject" type="ens:User" />
                </sequence>
            </complexType>
                
            <element name="notificationsResponse">
                <complexType>
                    <sequence>
                        <element name="Ack" type="xsd:boolean" />
                    </sequence>
                </complexType>
            </element>
        </schema>
    </types>
    
    
    <!-- Method Messages -->   
    <message name="notificationsRequest">
        <part element="tns:notifications" name="request"/>
    </message>
    <message name="notificationsResponse">
        <part element="tns:notificationsResponse" name="response"/>
    </message>

    <!-- PortType -->
    <portType name="NotificationPort">
        <operation name="notifications">
            <documentation>Process a number of notifications.</documentation>
            <input  message="tns:notificationsRequest"/>
            <output message="tns:notificationsResponse"/>
        </operation>
    </portType>
    
    <!-- Binding 
         You need to write a service that implements this binding to receive the notifications
     -->
    <binding name="NotificationBinding" type="tns:NotificationPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        
        <operation name="notifications">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output> 
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>

    <!-- Service Endpoint -->
    <service name="NotificationService">
        <documentation>Notification Service Implementation</documentation>
        <port binding="tns:NotificationBinding" name="Notification">
            <soap:address location="http://template-sfdc2sfdc-user-broadcast.cloudhub.io"/>
        </port>
    </service>
    
</definitions>