src/test/resources/DelegatedApproverId.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Mule Anypoint Template
    Copyright (c) MuleSoft, Inc.
    All rights reserved.  http://www.mulesoft.com

-->

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:sobject.enterprise.soap.sforce.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DelegatedApproverId" type="xs:string"/>
  <xs:element name="Longitude" type="xs:string"/>
  <xs:element name="City" type="xs:string"/>
  <xs:element name="LastViewedDate" type="xs:string"/>
  <xs:element name="StayInTouchSubject" type="xs:string"/>
  <xs:element name="OfflinePdaTrialExpirationDate" type="xs:string"/>
  <xs:element name="State" type="xs:string"/>
  <xs:element name="EmailPreferencesStayInTouchReminder" type="xs:string"/>
  <xs:element name="JigsawImportLimitOverride" type="xs:string"/>
  <xs:element name="ManagerId" type="xs:string"/>
  <xs:element name="Id" type="xs:string"/>
  <xs:element name="LastName" type="xs:string"/>
  <xs:element name="Country" type="xs:string"/>
  <xs:element name="EmailPreferencesAutoBcc" type="xs:string"/>
  <xs:element name="CreatedDate" type="xs:string"/>
  <xs:element name="LanguageLocaleKey" type="xs:string"/>
  <xs:element name="AccountId" type="xs:string"/>
  <xs:element name="Email" type="xs:string"/>
  <xs:element name="LastModifiedDate" type="xs:string"/>
  <xs:element name="ProfileId" type="xs:string"/>
  <xs:element name="EmailPreferencesAutoBccStayInTouch" type="xs:string"/>
  <xs:element name="DigestFrequency" type="xs:string"/>
  <xs:element name="MobilePhone" type="xs:string"/>
  <xs:element name="Latitude" type="xs:string"/>
  <xs:element name="LastLoginDate" type="xs:string"/>
  <xs:element name="CreatedById" type="xs:string"/>
  <xs:element name="CommunityNickname" type="xs:string"/>
  <xs:element name="Department" type="xs:string"/>
  <xs:element name="CompanyName" type="xs:string"/>
  <xs:element name="SenderEmail" type="xs:string"/>
  <xs:element name="FederationIdentifier" type="xs:string"/>
  <xs:element name="Street" type="xs:string"/>
  <xs:element name="AboutMe" type="xs:string"/>
  <xs:element name="FirstName" type="xs:string"/>
  <xs:element name="LocaleSidKey" type="xs:string"/>
  <xs:element name="SmallPhotoUrl" type="xs:string"/>
  <xs:element name="CallCenterId" type="xs:string"/>
  <xs:element name="LastPasswordChangeDate" type="xs:string"/>
  <xs:element name="OfflineTrialExpirationDate" type="xs:string"/>
  <xs:element name="SystemModstamp" type="xs:string"/>
  <xs:element name="ReceivesInfoEmails" type="xs:string"/>
  <xs:element name="EmailEncodingKey" type="xs:string"/>
  <xs:element name="Title" type="xs:string"/>
  <xs:element name="EmployeeNumber" type="xs:string"/>
  <xs:element name="DefaultGroupNotificationFrequency" type="xs:string"/>
  <xs:element name="Signature" type="xs:string"/>
  <xs:element name="Alias" type="xs:string"/>
  <xs:element name="FullPhotoUrl" type="xs:string"/>
  <xs:element name="Extension" type="xs:string"/>
  <xs:element name="LastModifiedById" type="xs:string"/>
  <xs:element name="Fax" type="xs:string"/>
  <xs:element name="IsActive" type="xs:string"/>
  <xs:element name="SenderName" type="xs:string"/>
  <xs:element name="TimeZoneSidKey" type="xs:string"/>
  <xs:element name="IsBadged" type="xs:string"/>
  <xs:element name="ReceivesAdminInfoEmails" type="xs:string"/>
  <xs:element name="ForecastEnabled" type="xs:string"/>
  <xs:element name="StayInTouchSignature" type="xs:string"/>
  <xs:element name="ContactId" type="xs:string"/>
  <xs:element name="LastReferencedDate" type="xs:string"/>
  <xs:element name="PostalCode" type="xs:string"/>
  <xs:element name="Phone" type="xs:string"/>
  <xs:element name="fieldsToNull" type="xs:string"/>
  <xs:element name="StayInTouchNote" type="xs:string"/>
  <xs:element name="Division" type="xs:string"/>
</xs:schema>